.header {
  height: $header-height;
  background-color: #ffffff;
  margin-left: 199px;
  border-left: 1px solid #919191;
  display: flex;
  justify-content: space-between;
  align-items: center;
  

  .header__resolution {
    display: flex;
    justify-content: space-between;
    padding-right: 70px;
    

    ul {
      align-content: center;
    }

    li {
      display: inline-flex;
      margin-right: 25px;
    }
  }
}
 
.header__search {
  padding-left: 24px;

  .search-bar {
    width: 275px;
    height: 43px;
    border-radius: 100px;
    display: flex;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 100px;
    justify-content: space-between;
  
    input {
      padding-left: 26px;
      background: transparent;
      border: 0;
      outline: none;
      font-size: 16px;

      &::placeholder {
        color: #BCBCBC;
      }
    }

    button {
      padding-right: 10px;
      border: 0;
      background: transparent;
      cursor: pointer;
    }
  }
}
