@keyframes sasha {
  from {
    left: 0;
    background-color: green;
  }
  to {
    left: calc(100% - 50px);
    background-color: orange;
  }
}

.animation-area {
  background-color: #ccc;
  position: relative;

  &::after {
    content: '';
    display: block;
    padding-top: 20%;
  }

  &:hover {
    .animation-child {
      animation-play-state: paused;
    }
  }

}

.animation-child {
  width: 50px;
  height: 50px;
  background: #f00;
  position: absolute;
  top: 0;
  left: 0;
  animation-name: sasha;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}