.gradient-box {
  width: 100%;
  height: 300px;
}

.gradient-box--1 {
  background: linear-gradient(#e66465, #9198e5);
}

.gradient-box--2 {
  background: linear-gradient(#e66465, #9198e5);
}

.gradient-box--3 {
  background: linear-gradient(#e66465, #9198e5);
}
.gradient-box--4 {
  background: linear-gradient(#e66465, #9198e5);
}
.gradient-box--5 {
  background: linear-gradient(#e66465, #9198e5);
}
.gradient-box--6 {
  background: linear-gradient(#e66465, #9198e5);
}
.gradient-box--7 {
  background: linear-gradient(#e66465, #9198e5);
}
.gradient-box--8 {
  background: linear-gradient(#e66465, #9198e5);
}
.gradient-box--9 {
  background: linear-gradient(#e66465, #9198e5);
}
.gradient-box--10 {
  background: linear-gradient(#e66465, #9198e5);
}
.gradient-box--11 {
  background: linear-gradient(#e66465, #9198e5);
}
.gradient-box--12 {
  background: linear-gradient(#e66465, #9198e5);
}
.gradient-box--13 {
  background: linear-gradient(#e66465, #9198e5);
}
.gradient-box--14 {
  background: linear-gradient(#e66465, #9198e5);
}
.gradient-box--15 {
  background: linear-gradient(#e66465, #9198e5);
}
.gradient-box--16 {
  background: linear-gradient(#e66465, #9198e5);
}
.gradient-box--17 {
  background: linear-gradient(#e66465, #9198e5);
}
.gradient-box--18 {
  background: linear-gradient(#e66465, #9198e5);
}
.gradient-box--19 {
  background: linear-gradient(#e66465, #9198e5);
}
.gradient-box--20 {
  background: linear-gradient(#e66465, #9198e5);
}
