.ratio-box,
.ratio-box--16-9,
.ratio-box--4-3 {
  position: relative;

  &::before {
    content: '';
    padding-top: 100%;
    display: block;
  }
  
  > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.ratio-box--16-9 {
  content: '';
  padding-top: 56.25%;
  display: block;
}

.ratio-box--4-3 {
  content: '';
  padding-top: 75%;
  display: block;
}

.ratio-box--16-9 {
  @include breakpoint($desktop) {
    content: '16/9';
  }
}

.ratio-box--4-3 {
  @include breakpoint($tablet) {
    content: '4/3';
  }
}