.transform-action-area {
  margin-top: 13px;
  margin-bottom: 13px;
}

.transform-element {
  width: 100%;
  height: 300px;
  background-color: #9d4cc3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transform-action-area--1 {
  &:hover {
    .transform-element {
      transform: scaleY(0.5);
      background-color: aliceblue;
    }
  }
}

.transform-action-area--2 {
  &:hover {
    .transform-element {
      transform: rotate(45deg);
      background-color: green;
      position: relative;
      z-index: 1;
    }
  }
}

.transform-action-area--3 {
  &:hover {
    .transform-element {
      transform: perspective(10px);
      background-color: aqua;
    }
  }
}

.transform-action-area--4 {
  &:hover {
    .transform-element {
      transform: scaleX(0.7);
      background-color: rgb(187, 128, 56);
    }
  }
}

.transform-action-area--5 {
  &:hover {
    .transform-element {
      transform: translate(-120px, -50%);
      background-color: rgb(31, 122, 201);
    }
  }
}

.transform-action-area--6 {
  &:hover {
    .transform-element {
      transform: translate(120px, 50%);
      background-color: rgb(3, 108, 92);
    }
  }
}

.transform-action-area--7 {
  &:hover {
    .transform-element {
      transform: translate(-50%);
      background-color: blue;
    }
  }
}

.transform-action-area--8 {
  &:hover {
    .transform-element {
      transform: translate(50%);
      background-color: red;
    }
  }
}

.transform-action-area--9 {
  &:hover {
    .transform-element {
      transform: rotateY(45deg);
      background-color: orange;
    }
  }
}

.transform-action-area--10 {
  &:hover {
    .transform-element {
      transform: scale(0.5);
      background-color: rgb(202, 0, 101);
    }
  }
}

.transform-action-area--11 {
  &:hover {
    .transform-element {
      transform: skew(-15deg, -7deg);
      background-color: rgb(140, 0, 140);
    }
  }
}

.transform-action-area--12 {
  &:hover {
    .transform-element {
      transform: skew(15deg, 7deg);
      background-color: rgb(140, 0, 140);
    }
  }
}

.transform-action-area--13 {
  &:hover {
    .transform-element {
      transform: rotateY(180deg);
      background-color: #aeff00;
    }
  }
}

.transform-action-area--14 {
  &:hover {
    .transform-element {
      transform: scale(0.5);
      background-color: #00ff62;
    }
  }
}

.transform-action-area--15 {
  &:hover {
    .transform-element {
      transform: scaleY(-1);
      background-color: #0051ff;
    }
  }
}

.transform-action-area--16 {
  &:hover {
    .transform-element {
      transform: scale3d(2, 1.5, 0.3);
      background-color: #6c78ff;
    }
  }
}

.transform-action-area--17 {
  &:hover {
    .transform-element {
      transform: rotateZ(20deg) scale(0.5);
      background-color: #ff6a6a;
    }
  }
}

.transform-action-area--18 {
  &:hover {
    .transform-element {
      transform: rotate3d(1, 2, 3, -50deg);
      background-color: #72b449;
    }
  }
}

.transform-action-area--19 {
  &:hover {
    .transform-element {
      transform: translateX(10px) rotate(10deg) translateY(-50px);
      background-color: #04ff9b;
    }
  }
}

.transform-action-area--20 {
  &:hover {
    .transform-element {
      transform: translateY(10px) rotate(-10deg) translateX(50px);
      background-color: #04ff9b;
    }
  }
}
