$sidebar-width: 200px;
$header-height: 93px;
$mobileLandscape: 575px;
$tablet: max-width 768px;
$tabletLandscape: 992px;
$desktop: 1200px;
$desktopWide: 1400px;

$images_path: '../images/';
$fonts_path: '../fonts/';


// for carousel range
$green: #A3CD99;
$darkgreen: #579E81;
// -------------------